@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  font-family: "DM Sans", sans-serif;
}

.active {
  color: #f7aa04 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  border: none !important;
  outline: none !important;
}
/* input[type="checkbox"] {
  accent-color: #f7aa04 !important;
} */
textarea {
  resize: none;
}
h1,
h2,
h3,
h4 {
  /* font-family: "DM Sans", sans-serif; */
  font-weight: 700 !important;
}

.show {
  display: block !important;
}

img {
  object-fit: cover !important;
}

.indiana-scroll-container {
  border-radius: 0 !important;
}

.group span {
  background-color: #ffc034 !important;
}

.space-x-3 button.bg-white {
  background-color: #ffc034 !important;
}
.space-x-3 button:hover {
  background-color: #ffc034 !important;
}

.footer-text p {
  margin-top: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 475px) {
  .group span,
  .space-x-3 button {
    display: none !important;
  }
}
