@media screen and (max-width: 767px) {
  .header {
    .menu-content {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      background-color: #fff;
      overflow: hidden;
      transition: 0.5s;
    }

    .mobile-menu {
      position: relative;
      top: 20%;
      width: 100%;
      display: flex;
      overflow-y: scroll;
      gap: 1.5rem;
      flex-direction: column;
    }
    .close {
      position: absolute;
      top: 20px;
      right: 30px;
    }
  }
}

@media screen and (max-width: 885px) {
  .footer {
    .logo-text {
      width: 100% !important;
    }

    flex-direction: column !important;
  }
}
